
{% extends 'common/layout.html' %}


{% block page_content %}

<section class="bg-light" id="product-section">
    <div class="container">
      <h1 class="text-center" style="padding-top: 1em;">Products</h1>
      <div class="row">
        <div class="col-md-4  mt-4">
          <div class="card" >
            <img class="card-img-top rounded-circle p-5" src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MMMQ3?wid=2000&hei=2000&fmt=jpeg&qlt=95&.v=1645138486301" alt="Card image cap">
            <div class="card-body text-dark">
              <h5 class="card-title">Magic Mouse - Touch Surface</h5>
              <p class="card-text text-primary"><b>Price: $ 20</b></p>
                <a href="" class="btn btn-outline-primary items-center" style="width: 100%;">Add To Cart</a>
            </div>
          </div>
        </div>
        <div class="col-md-4  mt-4">
          <div class="card" >
            <img class="card-img-top  rounded-circle p-5" src="https://www.apple.com/newsroom/images/product/availability/Apple-Airpods-Pro-2nd-gen-l-and-r_inline.jpg.large.jpg" alt="Card image cap" >
            <div class="card-body text-dark"  >
              <h5 class="card-title">Apple Airpods 2 </h5>
              <p class="card-text text-primary"><b>Price: $ 40</b></p>
              <a href="" class="btn btn-outline-primary items-center" style="width: 100%;">Add To Cart</a>   
            </div>
          </div>
        </div>
        <div class="col-md-4   mt-4">
          <div class="card" >
            <img class="card-img-top rounded-circle p-5" src="https://www.apple.com/newsroom/images/product/availability/Apple-Watch-Ultra-Orange-Loop-Wayfinder-face_inline.jpg.large.jpg" alt="Card image cap">
            <div class="card-body text-dark" >
              <h5 class="card-title">Watch Ultra</h5>
              <p class="card-text text-primary"><b>Price: $ 50</b></p>
                <a href="" class="btn btn-outline-primary items-center"style="width: 100%;">Add To Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div><br><br><br>
</section>
{% endblock %}