{% extends 'common/layout.html' %}
{% load static %}

{% block page_content %}

<section class="bg-light" id="product-section">
  <div class="container">
    {% if cart_msg %}
    <script>
        alert("{{ cart_msg }}");
    </script>
    {% endif %}
    <h1 class="text-center" style="padding-top: 1em;">Products</h1>
    <div class="row">

      {% for product in products %}
      <div class="col-md-4  mt-4">
        <div class="card">
          <img class="card-img-top rounded-circle p-5" src="{{product.image.url}}" class="card-img-top"
            alt="Card image cap">
          <div class="card-body text-dark">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text text-primary"><b>Price: $ {{product.price}}</b></p>
            <a href="{% url 'customer:cart' product.id %}" class="btn btn-outline-primary items-center"
              style="width: 100%;">Add To Cart</a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div><br><br><br>
</section>
{% endblock %}